node_modules
dist
release
*.log
.DS_Store
.env
*.swp
*.swo
*~
.vscode
.idea

# Electron
out/
build/

# Tauri
src-tauri/target
src-tauri/gen

# Android
*.iml
.gradle
local.properties
.idea/
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
build/
*.keystore
!debug.keystore

libcimbar/
# iOS
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData
*.xcuserstate
*.xcworkspace
!default.xcworkspace
Pods/

# Rust
/target
**/*.rs.bk
Cargo.lock
public/icons/
